html, body{
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    /* border: 5px solid rebeccapurple; */
}

.container  li{
    list-style-type: none;
    border: 5px solid #e8edcc;
    border-radius: 20px;
    padding: 1.5em;

}
.container a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color: #000;
    
}
/* .nav-icon{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
} */
.projects h2{
    margin: 0;
    font-size: 4em;
}

.projects{
    margin-left: 30px;   
}

.projects li{
    font-size: 3em;
}

.domain-text{
    /* color: darkgreen; */
    font-size: 2.5em;
    margin: 0;
    display: flex;
    justify-content: center;
}
a{  color: #000;
    text-decoration: none;}
    
